<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="icon" href="temple.ico">
    <title>Temples in Chiang Mai</title>
</head>
<body>
    <div class="container ">
        <div class="jumbotron">
            <h1>Temples in Chiang Mai</h1>      
        </div>
        <div id="app" class="bg-light text-dark">
            <ol>
                <li v-for="temple in temples">
                    <a href="#" v-on:click="temple.see = !temple.see">
                    {{ temple.nametemple }}
                    </a>
                    <br>
                    <dev v-if="temple.see">
                        <img v-for="n in 3" v-bind:src="'image/' + temple.nametemple +'/' + n + '.jpg'" class="img-thumbnail">
                        <br>
                        {{ temple.description }}
                    </dev>
                </li>
            </ol>
        </div>
    </div>
    <footer style="position:fixed; left:0; bottom:0; width:100%; ">
        <div class="container">
          <img src="image/tool.png" height="42">
          <span class="text-muted">Power by : Github <a href="https://github.com/Codethm">Codethm</a></span>
          <img src="image/logo/no-ip.png" height="42">
          <img src="image/logo/Namecheap.png" height="42">
          <img src="image/logo/comado.png" height="42">
          <img src="image/logo/Octocat.png" height="42">
          <img src="image/logo/pack.png" height="42">
        </div>
      </footer>
    <script src="app.js" charset="utf-8"></script>
</body>
</html>